<p>
	<%= form.label 'number' %><br />
	<%= form.text_field 'number' %>
</p>
<p>
	<%= form.label 'first_name' %><br />
	<%= form.text_field 'first_name' %>
</p>
<p>
	<%= form.label 'last_name' %><br />
	<%= form.text_field 'last_name' %>
</p>
<p>
	<%= form.label 'position' %><br />
	<%= form.text_field 'position' %>
</p>
<p>
	<%= form.label 'height' %><br />
	<%= form.text_field 'height' %>
</p>
<p>
	<%= form.label 'weight' %><br />
	<%= form.text_field 'weight' %>
</p>
<p>
	<%= form.label 'year' %><br />
	<%= form.text_field 'year' %>
</p>
<p>
	<%= form.label 'hometown' %><br />
	<%= form.text_field 'hometown' %>
</p>
<p>
	<%= form.label 'previous_school' %><br />
	<%= form.text_field 'previous_school' %>
</p>
<p>
	<%= form.label 'active' %><br />
	<%= form.check_box 'active' %>
</p>