
<div id="schedule">

	<h2><%= Season.find(Game::SEASON) %> football schedule</h2>
	<table>
		<tr>
			<td class="th">Date</td>
			<td class="th">Opponent</td>
			<td class="th">Location</td>
			<td class="th">Time</td>
			<td class="th">R</td>
		</tr>
		<% for game in @schedule %>
			<% if game.home_team_id == 1; home_game='home_game'; else; home_game = ''; end %>
			<tr class="<%= cycle('even','odd') %>">
				<td>
					<%= link_to_remote(game.game_time.to_s(:day), {:url => {:action => "fetch_details", :id => game.id}, :update => 'details', :loading => "Element.show('loading');Element.hide('details')", :complete => "Element.hide('loading');Element.show('details')"}, {:class => home_game}) %>
				</td>
				<td>
					<% if @team.id == game.visitor_team_id %>
						<%= link_to_remote(game.home_team_ranked, {:url => {:action => "fetch_details", :id => game.id}, :update => 'details', :loading => "Element.show('loading');Element.hide('details')", :complete => "Element.hide('loading');Element.show('details')"}, {:class => home_game}) %>
					<% else %>
						<%= link_to_remote(game.visitor_team_ranked, {:url => {:action => "fetch_details", :id => game.id}, :update => 'details', :loading => "Element.show('loading');Element.hide('details')", :complete => "Element.hide('loading');Element.show('details')"}, {:class => home_game}) %>
					<% end %>
				</td>
				<td>
					<%= link_to_remote(game.stadium, {:url => {:action => "fetch_details", :id => game.id}, :update => 'details', :loading => "Element.show('loading');Element.hide('details')", :complete => "Element.hide('loading');Element.show('details')"}, {:class => home_game}) %>
				</td>
				<td>
					<% if game.tba? %>
						<%= link_to_remote("TBA", {:url => {:action => "fetch_details", :id => game.id}, :update => 'details', :loading => "Element.show('loading');Element.hide('details')", :complete => "Element.hide('loading');Element.show('details')"}, {:class => home_game}) %>
					<% else %>
						<%= link_to_remote(game.game_time.to_s(:time), {:url => {:action => "fetch_details", :id => game.id}, :update => 'details', :loading => "Element.show('loading');Element.hide('details')", :complete => "Element.hide('loading');Element.show('details')"}, {:class => home_game}) %>
					<% end -%>
				</td>
				<td>
					<% if game.complete? %>
						<% if game.home_team_id == 1 %>
							<% if game.home_score > game.visitor_score %>
								W
							<% else %>
								L
							<% end %>
						<% else %>
							<% if game.visitor_score > game.home_score %>
								W
							<% else %>
								L
							<% end %>
						<% end %>
					<% else %>
						&nbsp;
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	
	<p style="color: blue; font-style: italic;">
		Home games are in blue
	</p>
	<hr style="width: 80%; border: 1px dashed crimson; margin-top: 4px;margin-bottom: 8px;"/>
	<p style="font-weight: bold;">BSU Opponents Combined Record: <%= @opponent_wins %> - <%= @opponent_loses %></p>
	<table style="width: 60%;margin-left: 90px;">
		<% for t in @opponents %>
			<tr class="<%= cycle('even','odd') %>">
				<td class="left"><strong><%= link_to t.name, {:action => "get_schedule", :id => t}, :id => "opponent_schedule_#{t.id.to_s}" %></strong></td>
				<td><strong><%= link_to t.record, {:action => 'get_schedule', :id => t}, :id => "opponent_schedule_1_#{t.id.to_s}" %></strong></td>
			</tr>
		<% end %>
	</table>
</div>
<script type="text/javascript" charset="utf-8">
<% for t in @opponents %>
	new Control.Modal('opponent_schedule_<%= t.id.to_s %>', {opacity: 0.5});
	new Control.Modal('opponent_schedule_1_<%= t.id.to_s %>', {opacity: 0.5});
<% end -%>
</script>

<div style="display: none; font-size: 1.5em;text-align: right; color: red;padding: 40px 30px 0px 0px;" id="loading">Loading....</div>
<div id="details">
	<% unless @game.nil? %>
		<%= render :partial => 'details' %>
	<% else %>
		<%= image_tag 'bsu_big.png' %>
	<% end %>
</div>	