<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	
    <title>Boise State Bronco Football Dashboard</title>
	<%= stylesheet_link_tag 'base' %>
	<%= javascript_include_tag :application %>
  </head>
	<body>
		
		<div id="header">
			<img style="margin-top: 10px;" src='/assets/broncodashboard.png' alt="broncodashboard.com" />
			
		</div>
		
		<div id="admin">
			<div>
				<p style="margin: 0px; padding: 0px;">
					<%= link_to "Open Games", :controller => 'admin', :action => "list_games" %> | 
					<%= link_to "All games", :controller => 'admin', :action => 'list_games', :all => 1 %> |
					<%= link_to "Teams", :controller => 'admin', :action => "list_teams" %> | 
					<%= link_to "Players", :controller => 'players', :action => :index %> |
					<%= link_to "Logout", :controller => 'login', :action => "logout" %> 
					
				</p>
			</div>
				<p style="color: green"><%= flash.now[:notice] %></p>
				<p style="color: red;"><%= flash.now[:error] %></p>
				<%= yield %>
		</div>
	</body>
<html>
